body {
    font-family: 'Roboto',serif;
    margin: 0;
}

.header,.footer {
    display: flex;
    padding: 16px;
    justify-content: space-around;
    background-color: #1F2937;
}

.links {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    gap: 16px;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 16px;
    padding: 100px
}

.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.hero-blurb {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 16px;
}


.signup{
    margin-top: 15px;
    width: 100px;
    padding: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.info {
    flex-direction: column;
    background-color: white;
}

.info-title {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #1F2937;
    padding-top: 50px;
    font-size: 36px;
    font-weight: 900;
}

.images {
    display: flex;
    flex: 1;
    padding-top: 25px;
    justify-content: center;
}

.image-subtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 75px;

}

.square {
    border: 5px solid#3882F6;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    flex-wrap: wrap;
    width: 100%;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    height: 375px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
    color: #1F2937;
    width: 750px;
}

.quote-source{
    display: flex;
    width: 750px;
    justify-content: right;
    padding-right: 125px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bolder;
}

.call {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.actionbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 75%;
    background: #3882F6;
    height: 50%;
    border-radius: 20px;
}

.coatitle{
    font-weight: bolder;
    font-size: 24px;
}

.calltoaction {
    color:white;
}

.footer {
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}
